{% extends 'base.html.twig' %}

{% block title %}Gestion des Coachs{% endblock %}

{% block body %}

<h3 class="pt-2 text-center">
{% if (app.request.attributes.get('_route')=="admin_coach_ajout") %}
    Recrutement
{% else %}
    Modification
{% endif %}
d'un coach</h3>

{{form_start(formCoach)}}

{{form_row(formCoach.nom)}}
{{form_row(formCoach.prenom)}}
{{form_row(formCoach.club)}}
{{form_row(formCoach.image)}}

<div class="class row">
<div class="col"><a href=" {{path('admin_coachs')}} " class="btn btn-warning btn-block">Annuler</a></div>
<div class="col"><input type="Submit", class="btn btn-success btn-block" value=
{% if (app.request.attributes.get('_route')=="admin_coach_ajout") %}
"Recruter"
{% else %}
"Modifier"
{% endif %}"le coach"></div>
</div>





{{form_end(formCoach)}}
{% endblock %}
