{% extends 'base.html.twig' %}

{% block title %}Reservation Magic Park{% endblock %}

{% block body %}
<h1 class="pt-2 text-center">Reservation Magic Park</h1>
<hr>
<div class="row pt-2">
{% for leReservation in lesReservations %}
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-3">
        <div class="card mb-3">
            <h4 class="card-header"> <a href=" {{path('ficheReservation', {'id': leReservation.id})}} ">{{leReservation.nom}}</a></h4>
            <div class="card-body">
                <h5 class="card-title">
                    <a href="" class="badge badge-success">{{nbReservations}}{% if nbReservations> 1 %} reservations {% else %} reservation{% endif %}</a>
                </h5>
            </div>
            <img class="avatar mx-auto d-block" style="height: auto; width: 200px;  display: block;" src=" {{leReservation.image}} " alt="Card image">
            
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> {{ leReservation.email}} </li>
            </ul>

        </div>
    </div>
{% endfor %}

</div>
{% endblock %}
