{% extends 'base.html.twig' %}

{% block title %}Fiche adherent{% endblock %}

{% block body %}
<h1 class="pt-2 text-center">Fiche de l'adherent</h1>
<hr>
<div class="row pt-2">
    {% set nbReservations = leAdherent.reservations|length %} 
        <div class="card mb-3">
            <div class="row">
                <div class="col-3 d-flex align-items-center mx-auto">
                    <img class="avatar mx-auto d-block" class="dropdown-divider" style="height: auto; width: 200px;  display: block;" src=" {{leAdherent.image}} " alt="Card image">
                </div>    
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="" class="badge badge-success">{{nbReservations}}{% if nbReservations> 1 %} reservations {% else %} reservation{% endif %}</a>
                        </h5>
                    </div>
                        <div class="card-body">
                        <p class="card-header">Nom : {{leAdherent.nom}} </p>
                        
                        <p class="card-text">Prenom : {{leAdherent.prenom}} </p>
                        <p class="card-text">Téléphone : {{ leAdherent.telephone}}</p>
                        <p class="card-text">Adresse : {{ leAdherent.AdresseComplete}}</p>
                        <p class="card-text">Code postale : {{ leAdherent.CP}}</p>
                        <p class="card-text">Ville : {{ leAdherent.ville}}</p>

                    </div>            
                </div>
            </div>

        </div>


</div>
{% endblock %}
