{% extends 'base.html.twig' %}

{% block title %}Fiche adherent{% endblock %}

{% block body %}
<h3 class="pt-2 text-center">Fiche de l'adherent</h3>
<hr>
<div class="row pt-2">
    {% set nbReservations = leAdherent.reservations|length %} 
        <div class="card mb-3">
            <h5 class="card-header"> {{leAdherent.nom}} </h5>
            <div class="row">
                <div class="col-3 d-flex align-items-center mx-auto">
                    <img class="avatar mx-auto d-block" style="height: auto; width: 200px;  display: block;" src=" {{leAdherent.image}} " alt="Card image">
                </div>    
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="" class="badge badge-success">{{nbReservations}}{% if nbReservations> 1 %} reservations {% else %} reservation{% endif %}</a>
                        </h5>
                    </div>    
                    <div class="card-body">
                        <p class="card-header">Prénom : {{leAdherent.prenom}} </p>
                        <p class="card-header">Date de naissance : {{leAdherent.DateNaiss|date("d/m/Y")}} </p>
                        <p class="card-header">Courriel : {{leAdherent.email|raw}} </p>
                        <p class="card-header">Téléphone : {{ leAdherent.telephone}}</p>
                        <p class="card-header">Adresse : {{ leAdherent.AdresseComplete}}</p>
                        <p class="card-header">Code postale : {{ leAdherent.CP}}</p>
                        <p class="card-header">Ville : {{ leAdherent.ville}}</p>
                    </div>
                        {# <div class="card-body">
                        <p class="card-header">Nom : {{leAdherent.nom}} </p>                      
                        <p class="card-text">Prenom : {{leAdherent.prenom}} </p>
                        <p class="card-text">Téléphone : {{ leAdherent.telephone}}</p>
                        <p class="card-text">Adresse : {{ leAdherent.AdresseComplete}}</p>
                        <p class="card-text">Code postale : {{ leAdherent.CP}}</p>
                        <p class="card-text">Ville : {{ leAdherent.ville}}</p>
                    </div>             #}
                </div>
            </div>
        </div>
</div>
<table class="table table-hover mx-auto">
    <thead>
        <tr>
            <th scope="col-3">Date</th>
            <th scope="col-3">Heure</th>
            <th scope="col-1">Coach</th>
            <th scope="col-1">Club</th>
        </tr>
    </thead>
    <tbody>
    {% for laReservation in leAdherent.reservations %}
            <tr>
                <td>{{laReservation.DateR|date("m/d/Y")}}</td>
                <td>{{laReservation.HeureR|date("H:i:s")}}</td>
                <td>{{laReservation.coach.nom}}</td>
                <td>{{laReservation.club.ville}}</td>
            </tr>   
    {% endfor %}
    </tbody>
</table>
{% endblock %}
