{% extends 'base.html.twig' %}

{% block title %}Gestion reservations{% endblock %}

{% block body %}
<h3 class="pt-2 text-center">Gestion des Reservations</h3>
<a href=" {{path('admin_reservation_ajout')}} " class="btn btn-info">Ajouter une reservation</a>
<hr>
  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col-1">Adherent</th>
      <th scope="col-2">Date</th>
      <th scope="col-2">Club</th> 
      <th scope="col-2">Coach</th>
      <th scope="col-1">Heure</th>
      <th scope="col-">Actions</th>
    </tr>
  </thead>
  <tbody>
        {% for leReservation in lesReservations %}
            <tr>
              <td class="col-1">{{leReservation.adherent.nom}}</td>
              <td class="col-2">{{leReservation.DateR|date("d/m/Y")}}</td>
              <td class="col-2">{{leReservation.club.ville}}</td>
              <td class="col-2">{{leReservation.coach.nom}}</td>
              <td class="col-1">{{leReservation.HeureR|date("H:i")}}</td>
            <td class="col-2">
                <a href=" {{path('admin_reservation_modif', {'id': leReservation.id})}} " class="btn btn-primary"><i class="fas fa-pen"></i></a>
                <a class="btn btn-danger"
                data-toggle="modal"
                data-target="#modalSimple"
                data-titre="Suppression d'un reservation"
                data-message="Etes vous sur de vouloir supprimer la reservation : {{ leReservation.adherent.nom }}"
                data-libelleBouton="Supprimer l'reservation"
                data-lien="{{ path('admin_reservation_suppression', {'id': leReservation.id}) }}"
                ><i class="fa-solid fa-box-archive"></i></a>
            </td>
            </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

</div>
{% endblock %}
{% block javascripts %}
{% include "include/_modale.html.twig" %}
{% endblock %}