{% extends 'base.html.twig' %}

{% block title %}Entrainement des débutant{% endblock %}

{% block body %}
<h3 class="pt-2 text-center">Entrainement de niveau {{leNiveau}}</h3>
<hr>
<div class="row pt-2">
{% for leEntrainement in lesEntrainements %}    
    <div class="col-sm-12-md-12 col-lg-4 col-xl-4">
        <div class="card mb-3">
            <img  class="mx-auto d-block " style="height: autocbjnhwgf; width: 100%;; display: d-block;" src=" {{asset("images/entrainements/" ~ leEntrainement.image)}} " alt="Card image">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> {{leEntrainement.equipements}}</li>
                <li class="list-group-item"> {{leEntrainement.niveau}}</li>
                <li class="list-group-item"> {{leEntrainement.objectif}}</li>
            </ul>
        </div>
    </div>

{% endfor %}

</div>
{% endblock %}
